/* @import "css/import-styles.css"; */

header {
  background-color: white;
}

h1 {
  font-size: 90px;
  color: black;
}

h2 {
  font-size: 53px;
}

h3 {
  font-size: 20px;
  color: black;
}

p {
  color: black;
  background: white;
  font-size: 20px;
}

table {
  color: black;
}

a:link {
  color: blue;
}

a:visited {
  color: lightblue;
}
a:hover {
  color: 3blue;
}

.chart {
  width: 100%;
  min-height: 450px;
}

.row {
  margin:0 !important;
}

/* court things */

.courtbg {
  background: #2B2B2B;
}

.court {
  fill: #7A7A7A;
  stroke: #2B2B2B;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

.zone {
  fill: #7A7A7A;
  stroke: #2B2B2B;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

.zone:hover {
  fill: #FEA400;
  cursor: pointer;
}

.zoneFreeThrow {
  fill: #7A7A7A;
  stroke: #2B2B2B;
  stroke-width: 4;
  stroke-miterlimit: 10;
}
