/* header {
  background-color: white;
}

h1 {
  font-size: 90px;
  color: black;
}

h2 {
  font-size: 53px;
}

h3 {
  font-size: 20px;
  color: black;
}

p {
  color: black;
  background: white;
  font-size: 20px;
}

table {
  color: black;
}

a:link {
  color: blue;
}

a:visited {
  color: lightblue;
}
a:hover {
  color: 3blue;
}

.chart {
  width: 100%;
  min-height: 450px;
}

.row {
  margin:0 !important;
} */

/* court things */

* {
  border: 0;
  padding: 0;
  margin: 0;
}

.court {
  transform: rotate(270deg);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}
.court > main {
  box-sizing: border-box;
  border-width: 3vw 5vw;
  border-style: solid;
  border-color: black;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}
.court > main > div.team-field {
  width: 36vw;
  height: 44vw;
  box-sizing: border-box;
  background: grey;
  border-width: 0.6vw 0.3vw 0.6vw 0.6vw;
  border-style: solid;
  border-color: white;
  overflow: hidden;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}
.court > main > div.team-field:after {
  content: '';
  height: 10vw;
  width: 5vw;
  border-radius: 10vw 0 0 10vw;
  border-width: 0.6vw 0 0.6vw 0.6vw;
  border-style: solid;
  border-color: white;
}
.court > main > div.team-field:nth-of-type(2) {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.court > main > div.team-field > div.three-points-arc {
  box-sizing: border-box;
  position: relative;
  right: 19.5%;
  border-width: 0.6vw 0.6vw 0.6vw 0;
  border-style: solid;
  border-color: white;
  border-bottom-right-radius: 55%;
  border-top-right-radius: 55%;
  height: 80%;
  width: 80%;
  background: black;
  background: black;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}
.court > main > div.team-field > div.three-points-arc > div.free-trows {
  box-sizing: border-box;
  height: 11vw;
  width: 23vw;
  border: 0.6vw solid white;
  box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
}
.court > main > div.team-field > div.three-points-arc > div.free-trows > div.free-trows-circle {
  box-sizing: border-box;
  transform: rotate(45deg);
  margin-right: -5.3vw;
  height: 11vw;
  width: 11vw;
  border-radius: 50%;
  border-width: 0.6vw;
  border-style: solid solid dashed dashed;
  border-color: white;
  position: relative;
}
.court > main > div.team-field > div.three-points-arc > div.free-trows > span {
  box-sizing: border-box;
  position: absolute;
  height: 1vw;
  width: 3.3vw;
  border-width: 0 0.6vw;
  border-style: solid;
  border-color: white;
}
.court > main > div.team-field > div.three-points-arc > div.free-trows > span:nth-of-type(1) {
  bottom: 100%;
  right: 1vw;
}
.court > main > div.team-field > div.three-points-arc > div.free-trows > span:nth-of-type(2) {
  bottom: 100%;
  right: 6.6vw;
}
.court > main > div.team-field > div.three-points-arc > div.free-trows > span:nth-of-type(3) {
  top: 100%;
  right: 1vw;
}
.court > main > div.team-field > div.three-points-arc > div.free-trows > span:nth-of-type(4) {
  top: 100%;
  right: 6.6vw;
}

.semicircle {
  background-color: white;
  height: 125px;
  width: 250px;
  border-radius: 125px 125px 0 0;
}

.moc {
  display: none;
  position: absolute;
  top: 8px;
  background: url("https://image-gr.s3.envato.com/files/73922116/basketball_court.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 44vw;
  width: 72vw;
  opacity: .3;
}
